 @media (max-width: 767px) {
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 69px;
  background-color: #E5E5E5;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: #000;
  margin-right: 29px;
  margin-left: 22px;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
  margin-left: 0;
}

.header {
  background: white;
  height: 560px;

}

.menu {
  padding-top:0px;
}

.img {
  background:  left  no-repeat url(img/main_m.png);
  left:0;
  padding:  0 100% 500px 0;
  top: 60px;
}

.logo {
  color: black;
  margin: 14px 193px 18px 26px;
  font: 500 30px/37px "montserratregular", arial, helvetica, sans-serif;
}

.header__title {
  position: absolute;
  margin: 375px 0 0 30px;
  font: bold 54px/51px "monsterratbold", arial, helvetica, sans-serif;
}

 .main {
height: 596px;
}
.s {
  padding: 0 0 300px 0;
  background:  center no-repeat url(img/main2.svg);
  margin-left: 0;
  background-size: 60%;
}

.block2 {
  width: 320px;
  height: 281px;
  background-color: white;
  position: absolute;
  left: 25px;
  top: 860px;
}

.main__pink_title {
  font: bold 20px/20px "montserratbold", arial, helvetica, sans-serif;
  margin: 18px 0 0 29px;
}

.main__pink_subtitel{
  font: bold 10px/10px "montserratbold", arial, helvetica, sans-serif;
  margin: 3px 0 19px 31px;
}

.main__pink_paragraph {
  font: 400 9px/13px "montserratregular", arial, helvetica, sans-serif;
  margin: 0 31px 25px 31px;
}

.colors-icons, .main__price {
  display: inline-block;
}

.colors-icons {
  margin: 0;
  padding-left: 34px;
  margin-bottom: 34px;
}

.colors-icons__item {
  margin-right: 0;
}

.main__price {
  font: bold 20px/28px "montserratbold", arial, helvetica, sans-serif;
  margin: 0 0 0 30px;
}

.main__button {
  margin-left: 37px;
}

.main2 {
  height: 597px;
}

.w {
background:  left no-repeat url(img/main3.svg);
padding: 80px 0 310px 0;
background-size: 95%;
margin-left: 15px;
}

.block3 {
  width: 255px;
  height: 195px;
  position: absolute;
  left: 45px;
  top: 1470px;
}

.main__title {
  font: bold 20px/20px "montserratbold", arial, helvetica, sans-serif;
  padding: 22px 0 0 24px;
}

.main__subtitel {
  font: bold 10px/10px "montserratbold", arial, helvetica, sans-serif;
  padding: 10px 0 0 24px;
  margin: 0;
}

.main__paragraph {
  font: normal 9px/13px "montserratregular", arial, helvetica, sans-serif;
  margin: 10px 0 0 24px;
  padding-bottom: 40px;
}

.main__button {
 padding: 10px 23px;
}

.main2 {
  height: 665px;
}

.header__paragraph, .header__button, .header__vector, .header__img, .main__pink_img1,
.main__pink_img2,  .main__light2_vector1, .main__vector, .main__button1, .main__vector1, .section__dropdown {
  display: none;
}

.social-icons {

  display: none;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    background: white;
  }
  .logo {
    color: black;
  }
.img {
  top: 100px;
  left:90px;
  position: absolute;
  background:  top   no-repeat url(img/main.png);
  padding:  0 0 90px 0;
  background-size: 90%;
}

.header__title {
  padding-top: 70px;
  margin: 420px 0 0 160px;
  font: bold 69px/55px "monsterratbold", arial, helvetica, sans-serif;
}

.header__paragraph  {
  font:  16px/21px "montserratregular", arial, helvetica, sans-serif;
  margin: 20px 0 40px 160px;
}

.header__button {
  margin-left: 405px;
}

.header__img, .header__vector {
display: none;
}

.s {
  background:  top left no-repeat url(img/main2.png);
  margin-left: 0;
  background-size: 60%;

}

.block2 {
  width: 458px;
  height: 456px;
  left: 260px;
  top: 1268px;
}

.main__pink_subtitel {
  margin-bottom: 25px;
}

.main__pink_paragraph {
  margin-bottom: 25px;
}

.colors-icons {
  margin-bottom: 35px;
}

.main__vector {
  color: #000;
  text-decoration:none;
  position: relative;
  top: 23px;
}

.w {
  margin-left: 0;
  background-size: 80%;
  padding: 20px 0 510px 0;

}

.block3 {
  background-color: #FAE8E4;
  width: 475px;
  position: absolute;
  left: 215px;
  top: 2155px;
}

}


@media (min-width: 1024px) and (max-width: 1366px) {
  .img {
    left: 0;
  }

  .header__title {
    margin: 120px 0 0 560px;
    font: bold 69px/55px "monsterratbold", arial, helvetica, sans-serif;
  }

  .header__paragraph  {
    font: 400 16px/21px "montserratregular", arial, helvetica, sans-serif;
    margin: 20px 0 48px 560px;
  }

  .header__button {
    margin-right: 44px;
    padding: 14px 32px;
  }

  .header__img {
  display: none;
  }

  .s {
    padding: 0 0 710px 0;
    margin-left: 0;
    background-size: 40%;

  }

  .block2 {
    width: 458px;
    height: 556px;
    left: 560px;
    top: 1068px;
  }

  .w {
    margin-left: 20px;
  }

  .block3 {
    background-color: #FAE8E4;
    width: 475px;
    position: absolute;
    left: 515px;
    top: 2055px;
  }

}
