#menu__toggle {
  opacity: 0;
}

body {
  width: 100%;
  margin: auto;
}

.menu {
padding-top: 35px;
}

.header {
  height: 900px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 32%, rgba(255,255,255,1) 32%);
}

.logo {
  color: white;
  margin-left: 52px;
  font: 500 31px/37px "montserratregular", arial, helvetica, sans-serif;
}

.logo, .section__dropdown, .hamburger-menu {
display: inline-block;
}

.section__dropdown_img {
   margin-left: 238px;
   font: 500 20px/24px "montserratregular", arial, helvetica, sans-serif;
   color: #FFF;
   text-decoration:none;

}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 92px;
  height: 92px;
  background-color: #E5E5E5;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #000;
  margin-right: 29px;
  margin-left: 29px;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
  margin-left: 0;
}

.social-icons {
position: relative;
top:710px;
left: 12px;
}
.social-icons__item {
  margin-right: 8px;
}

.img {
  top: 106px;
  position: absolute;
  background:  center no-repeat url(img/main.png);
  padding:  0 64% 690px 0;
}


.header__title {
  margin: 120px 0 0 789px;
  font: bold 89px/82px "monsterratbold", arial, helvetica, sans-serif;
}

.header__paragraph  {
  width: 467px;
  font: 400 17px/21px "montserratregular", arial, helvetica, sans-serif;
  margin: 16px 0 48px 789px;
}

.header__button {
  font: 500 13px/0 "montserratregular", arial, helvetica, sans-serif;
  margin-left: 789px;
  margin-right: 54px;
  border: 2px solid black;
  color: #000;
  padding: 14px 42px;
  text-decoration:none;
}

.header__vector {
  position: absolute;
  top: 630px;
  left: 1041px;
  color: #000;
  text-decoration:none;
  font: 500 13px/0 "montserratregular", arial, helvetica, sans-serif;
}

.vector__img {
  margin: 0 0 0 29px;
}


.main__white_img {
  position: absolute;
  top: 820px;
  left: 705px;
}

.main {
background-color: #FAE8E4;
height: 900px;
}

.block2 {
  width: 488px;
  height: 556px;
  background-color: white;
  position: absolute;
  left: 879px;
  top: 1068px;
}

.main__pink_img1 {
  position: relative;
  left: 137px;
  bottom: 230px;
}

.main__pink_img2 {
  position: relative;
  right: 180px;
  top:1px;
}

.main__pink_title {
  font: bold 45px/41px "montserratbold", arial, helvetica, sans-serif;
  margin: 46px 0 0 55px;
}

.main__subtitel {
  font: bold 19px/16px "montserratregular", arial, helvetica, sans-serif;
  margin: 14px 0 75px 55px;
}

.main__paragraph {
  font: 400 15px/21px "montserratregular", arial, helvetica, sans-serif;
  margin: 0 65px 52px 55px;
}
.colors-icons, .main__price {
  display: inline-block;
}

.colors-icons {
  margin: 0;
  padding-left: 55px;
  margin-bottom: 55px;
}

.main__price {
  font: bold 40px/56px "montserratbold", arial, helvetica, sans-serif;
  margin: 0 0 0 58px;
}

.colors-icons__item {
  margin-right: 8px;
}

 .main__button1 {
  display:inline-block;
  font: 500 13px/0 "montserratregular", arial, helvetica, sans-serif;
  color: black;
  border: 2px solid black;
  color: #000;
  padding: 21px 36px;
  text-decoration:none;
  margin: 0 15px 0 55px;
}

.main__button {
  font: 500 13px/0 "montserratregular", arial, helvetica, sans-serif;
  color: black;
  border: 2px solid black;
  color: #000;
  padding: 14px 46px;
  text-decoration:none;
}

.main__vector {
  color: #000;
  text-decoration:none;
  position: relative;
  top: 83px;
}

.main2 {
  background: linear-gradient(90deg, #EBE3D8 27%, black 27%, black 32%, #EBE3D8 32%);
  height: 900px;
}

.w {
  padding: 90px 0 810px 0;
  background:  left no-repeat url(img/main3.svg);
  margin-left: 90px;
}

.block3 {
  background-color: #FAE8E4;
  width: 475px;
  position: absolute;
  left: 815px;
  top: 2055px;
}

.main__title {
  font: bold 40px/41px "montserratbold", arial, helvetica, sans-serif;
  padding: 40px 0 0 47px;
  margin:0;
}

.main__subtitel {
  font: bold 19px/16px "montserratbold", arial, helvetica, sans-serif;
  padding: 13px 0 0 47px;
  margin: 0;
}

.main__paragraph {
  font: normal 15px/21px "montserratregular", arial, helvetica, sans-serif;
  margin: 35px 57px 54px 50px;
}

.main__button1 {
 display:inline-block;
 font: 500 15px/0 "montserratregular", arial, helvetica, sans-serif;
 color: black;
 border: 2px solid black;
 color: #000;
 padding: 21px 36px;
 text-decoration:none;
 margin: 0 15px 30px 47px;
}

.main__button {
 font: 500 13px/0 "montserratregular", arial, helvetica, sans-serif;
 color: black;
 border: 2px solid black;
 color: #000;
 padding: 14px 46px;
 text-decoration:none;
}

.main__vector1 {
  font: 500 13px/16px "montserratregular", arial, helvetica, sans-serif;
  color: #000;
  text-decoration:none;
  position: relative;
  top: 49px;
  left: 130px;
}
